<!--            NAVBAR            -->
<nav class="orange darken-1" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo center">
            <a href="#!" class="brand-logo center">Propose a trip:</a>
        </a>
        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <a href="#" data-activates="nav-mobile" class="right button-collapse"><i class="material-icons">add</i></a>
    </div>
</nav>

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <div class="row center">
                <a href="#"><img class="circle space interest" src="images/snowboard_inactive.png" alt=""></a>
                <a href="#"><img class="circle space interest" src="images/snorkeling_inactive.png" alt=""></a>
                <a href="#"><img class="circle space interest" src="images/hiking_inactive.png" alt=""></a>
                <a href="#"><img class="circle space interest" src="images/mountaineering_inactive.png" alt=""></a>
                <a href="#"><img class="circle space interest" src="images/mountain_biking_inactive.png" alt=""></a>
                <br />
                <br />
                <a href="#"><img class="circle space interest" src="images/skiing_inactive.png" alt=""></a>
                <a href="#"><img class="circle space interest" src="images/urbaneering_inactive.png" alt=""></a>
                <a href="#"><img class="circle space interest" src="images/whale_watching_inactive.png" alt=""></a>
                <a href="#"><img class="circle space interest" src="images/rockclimbing_inactive.png" alt=""></a>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="images/ocean.jpg" alt="Unsplashed background img 1"></div>
</div>
<div class="container">
    <div class="section">
        <form class="col s12">
            <div class="row">
                <div class="col s12">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Starting Location:</span>
                            <input type="text" value="Seattle, WA">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="card blue-grey darken-1">
                        <div class="card-content">
                            <span class="card-title white-text">Destination:</span>
                            <input id="pac-input" class="controls" type="text" placeholder="Search Box" Value="Whistler">
                            <div id="map"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Departure time:</span>
                            <input id="depatrureDay" type="date" class="datepicker" value="05/28/2016">
                            <input id="depatrureTime" type="time" class="timepicker">
                            <span class="card-title">Return time:</span>
                            <input id="returnDay" type="date" class="datepicker" value="05/29/2016">
                            <input id="returnTime" type="time" class="timepicker">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Have a car?</span>
                            <p>
                                <input name="group1" type="radio" id="car1" />
                                <label for="car1">Yes, looking for riders</label>
                            </p>
                            <p>
                                <input name="group1" type="radio" id="car2" checked/>
                                <label for="car2">No, this trip needs a driver</label>
                            </p>
                            <p>
                                <input name="group1" type="radio" id="car3" />
                                <label for="car3">I can drive or ride along</label>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Cost:</span>
                            <input type="text" placeholder="$" value="40.00 per person">
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <a href="/confirmation"><button class="btn waves-effect waves-light button-submit">
            Set up a trip now!
            <i class="material-icons right">send</i>
        </button></a>
    </div>
</div>
<!--  Scripts-->
<script>
    function initAutocomplete() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 47.608013, lng: -122.335167 },
            zoom: 8,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function () {
            searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function () {
            var places = searchBox.getPlaces();

            if (places.length == 0) {
                return;
            }

            // Clear out the old markers.
            markers.forEach(function (marker) {
                marker.setMap(null);
            });
            markers = [];

            // For each place, get the icon, name and location.
            var bounds = new google.maps.LatLngBounds();
            places.forEach(function (place) {
                var icon = {
                    url: place.icon,
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(25, 25)
                };

                // Create a marker for each place.
                markers.push(new google.maps.Marker({
                    map: map,
                    icon: icon,
                    title: place.name,
                    position: place.geometry.location
                }));

                if (place.geometry.viewport) {
                    // Only geocodes have viewport.
                    bounds.union(place.geometry.viewport);
                } else {
                    bounds.extend(place.geometry.location);
                }
            });
            map.fitBounds(bounds);
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8OtHcixGAyhWpRObeAvAB7rAM7AVTgUw&libraries=places&callback=initAutocomplete"
        async defer></script>
