<!--            NAVBAR            -->
<nav class="orange darken-1" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo center">
      <img src="images/logo_400_w.png" alt="logo" class="logo">
    </a>
    <% include navBar %>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    <a href="/trip" class="right"><i class="material-icons">add</i></a>
  </div>
</nav>

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <div class="row center">
        <a href="/trip"><img class="circle space interest" src="/images/snowboard_inactive.png" alt=""></a>
        <a href="/trip"><img class="circle space interest" src="/images/snorkeling_inactive.png" alt=""></a>
        <a href="/trip"><img class="circle space interest" src="/images/hiking_inactive.png" alt=""></a>
        <a href="/trip"><img class="circle space interest" src="/images/mountaineering_inactive.png" alt=""></a>
        <a href="/trip"><img class="circle space interest" src="/images/mountain_biking_inactive.png" alt=""></a>
        <a href="/trip"><img class="circle space interest" src="/images/skiing_inactive.png" alt=""></a>
        <a href="/trip"><img class="circle space interest" src="/images/urbaneering_inactive.png" alt=""></a>
        <a href="/trip"><img class="circle space interest" src="/images/whale_watching_inactive.png" alt=""></a>
        <a href="/trip"><img class="circle space interest" src="/images/rockclimbing_inactive.png" alt=""></a>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="images/ocean.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://washingtondnr.files.wordpress.com/2011/05/face_of_mt_si_heintz.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
            Hiking Mount Si<i class="material-icons right">more_vert</i>
          </span>
          <p><a href="#">Join this trip!</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Mount Si daytrip<i class="material-icons right">close</i></span>
          <p>Hike up Mount Si! It's looking a bit rainy so it shouldn't be too crowded. My dog and I need to be home by 5.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="http://www.visitsanjuans.com/sites/default/files/photos/aerialferrymtbaker700330.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
            Explore the Island<i class="material-icons right">more_vert</i>
          </span>
          <p><a href="#">Join this trip!</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Orcas Island<i class="material-icons right">close</i></span>
          <p>Visit the San Juan Islands! We'll be driving all the way to Eastsound, but you you can take the ferry to Lopez or Friday Harbor and meet us on the 8:30pm Sunday ferry.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="http://traveloregon.com/content/uploads/2012/05/cannon-beach-heeb.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
            Visit the coast!<i class="material-icons right">more_vert</i>
          </span>
          <p><a href="#">Join this trip!</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Oregon Coast<i class="material-icons right">close</i></span>
          <p>Join us on a trip to the Cannon Beach this weekend; We're leaving Friday night and need to be back last Sunday afternoon.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="http://adventureawaits.com/wp-content/uploads/2013/06/Steamboat-Rock-NWTF-02.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
            Climb Steamboat Rock<i class="material-icons right">more_vert</i>
          </span>
          <p><a href="#">Join this trip!</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Steamboat Rock<i class="material-icons right">close</i></span>
          <p>Join me and my dog Mossi driving to Steamboat Rock, to climb or hike or just enjoy the views.</p>
        </div>
      </div>
    </div>
  </div>
</div>
