<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>RideSurf</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  </head>
  <body>
    <div><% include partials/addTrip %></div>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="javascripts/materialize.js"></script>
    <script src="javascripts/picker.js"></script>
    <script src="javascripts/picker.date.js"></script>
    <script src="javascripts/picker.time.js"></script>
    <script src="javascripts/init.js"></script>
  </body>
</html>
